@import "tailwindcss";

@layer base {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        all: revert;
    }
}

/* Hide scrollbar in Chrome */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar in Firefox */
.no-scrollbar {
    scrollbar-width: none;
    /* Firefox */
}